/**
 * Developer colors
 *
 */

.frontend {
  color: #1E88E5 !important;
}

.backend {
  color: #3949AB !important;
}

.designer {
  color: #F16529 !important;
}

.teamlead {
  color: rgb(43, 167, 126) !important;
}

.database {
  color: #21759A !important;
}

.seo {
  color: #E4001B !important;
}

.marketer {
  color: #F0BD1F !important;
}

.tester {
  color: #29A6E0 !important;
}

.contentmanager {
  color: #43A047 !important;
}
